

@import url('icomoon.css');
@import url(flaticon.css);
 
/*** 
=============================================
    Appointment area
=============================================
***/
.appointment-area {
    position: relative;
    display: block;
    background-position: top right;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
}
.map-content-box .sec-title .title{
    color: #1d1d1b;    
}

.map-content-box .inner{
    position: relative;
    display: block;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    z-index: 99;
}
.map-content-box .inner .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map-content-box .inner .overlay .single-location-box{
    position: absolute;
}
.map-content-box .inner .overlay .single-location-box.one {
    top: 54%;
    left: 20%;
}
.map-content-box .inner .overlay .single-location-box.two{
    top: 22%;
    left:71%;    
}
.map-content-box .inner .overlay .single-location-box.three{
    left: 32%; 
    bottom: 38%;
}
.map-content-box .inner .overlay .single-location-box.four{
    left: 40%;
    bottom: 25%;
}
.map-content-box .inner .overlay .single-location-box.five{
    left: 31%;
    bottom: 44%;
}
.map-content-box .inner .overlay .single-location-box.six{
    left: 36%;
    bottom: 37%;
}

@media (max-width: 1410.98px) {
    .map-content-box .inner .overlay .single-location-box.one {
        top: 54%;
        left: 21%;
    }
    .map-content-box .inner .overlay .single-location-box.two{
        top: 22%;
        left:74%;    
    }
    .map-content-box .inner .overlay .single-location-box.three{
        left: 33%; 
        bottom: 38%;
    }
    .map-content-box .inner .overlay .single-location-box.four{
        left: 41%;
        bottom: 25%;
    }
    .map-content-box .inner .overlay .single-location-box.five{
        left: 31%;
        bottom: 44%;
    }
    .map-content-box .inner .overlay .single-location-box.six{
        left: 37%;
        bottom: 37%;
    }
}

@media (max-width: 767.98px) {
    .map-content-box .inner .overlay .single-location-box.one {
        top: 49%;
        left: 19%;
    }
    .map-content-box .inner .overlay .single-location-box.two{
        top: 16%;
        left:73%;    
    }
    .map-content-box .inner .overlay .single-location-box.three{
        left: 32%; 
        bottom: 37%;
    }
    .map-content-box .inner .overlay .single-location-box.four{
        left: 40%;
        bottom: 23%;
    }
    .map-content-box .inner .overlay .single-location-box.five{
        left: 31%;
        bottom: 43%;
    }
    .map-content-box .inner .overlay .single-location-box.six{
        left: 36%;
        bottom: 38%;
    }
}

@media (max-width: 575.98px) {
    .map-content-box .inner .overlay .single-location-box.one {
        top: 44%;
        left: 19%;
    }
    .map-content-box .inner .overlay .single-location-box.two{
        top: 10%;
        left:72%;    
    }
    .map-content-box .inner .overlay .single-location-box.three{
        left: 31%; 
        bottom: 36%;
    }
    .map-content-box .inner .overlay .single-location-box.four{
        left: 39%;
        bottom: 23%;
    }
    .map-content-box .inner .overlay .single-location-box.five{
        left: 31%;
        bottom: 44%;
    }
    .map-content-box .inner .overlay .single-location-box.six{
        left: 35%;
        bottom: 37%;
    }
}

.map-content-box .inner .overlay .marker-box{
    display: inline-block;
}
.map-content-box .inner .overlay .marker-box span:before{
    color: #1d1d1b;
    font-size: 50px;
    line-height: 50px;
    cursor: pointer;

}

.map-content-box .inner .overlay .location-info {
    position: absolute;
    left: -20px;
    bottom: 100px;
    width: 270px;
    opacity: 0;
    visibility: hidden;
    padding: 25px 30px 22px;
    padding-right: 20px;
    margin-left: 0;
    border-radius: 0px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    z-index: 9999999999;

}
@media screen and (max-width: 880px) {
    .map-content-box .inner .overlay .location-info {
        width: 150px;
        font-size: 10px;
        padding: 12px 10px 10px 20px;
    }
}

.map-content-box .inner .overlay .single-location-box:hover .location-info  {
    opacity: 1;
    visibility: visible;
    bottom: 55px;
}
.map-content-box .inner .overlay .single-location-box:hover .marker-box span:before{
    color: #e9212e;
    transition: all 500ms ease;
}
.map-content-box .inner .overlay .location-info h3{
    color: #27282c;
    font-weight: 700;
    margin: 0 0 13px;
}
.map-content-box .inner .overlay .location-info p{
    margin: 0;    
}

div.embed-responsive {
	height: 100%;
}

.vimeo-wrapper {
    top: 0;
    left: 0;
    height: auto;
}

.vimeo-wrapper iframe {
    min-height: 50vh;
}

@media screen and (min-width: 400px) {
    .vimeo-wrapper iframe {
        min-height: 60vh;
    }
}

@media screen and (min-width: 470px) {
    .vimeo-wrapper iframe {
        min-height: 70vh;
    }
}

.header-container {
    margin-top: 80px;
}

.header-wrapper div {
    position: relative !important;
}

.header-wrapper.header-subtitle {
    margin: 16px 0;
}

@media screen and (min-width: 745px) {
    .vimeo-wrapper iframe {
        min-height: 80vh;
    }
}

@media screen and (min-width: 1024px) {
    .header-container {
        margin-top: 100px;
    }
}

@media screen and (min-width: 1366px) {
    .header-container {
        margin-top: 200px;
    }
}

@media screen and (min-width: 1170px) {
    .vimeo-wrapper iframe {
        min-height: 90vh;
    }
}

@media screen and (min-width: 1366px) {
    .header-wrapper.header-subtitle {
        margin: 32px 0;
    }
}

@media screen and (min-width: 1920px) {
    .vimeo-wrapper iframe {
        min-height: 100vh;
    }
}





/*.appointment-area {
    position: relative;
    display: block;
    background: #27282c;
    background-position: top right;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 110px;
    padding-bottom: 110px;
    z-index: 1;
}
.map-content-box .sec-title .title{
    color: #ffffff;    
}

.map-content-box .inner{
    position: relative;
    display: block;
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    z-index: 99;
}
.map-content-box .inner .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map-content-box .inner .overlay .single-location-box{
    position: absolute;
}
.map-content-box .inner .overlay .single-location-box.one {
    top: 60px;
    left: 70px;
}
.map-content-box .inner .overlay .single-location-box.two{
    top: 100px;
    left: 50%;    
}
.map-content-box .inner .overlay .single-location-box.three{
    left: 150px; 
    bottom: 70px;
}
.map-content-box .inner .overlay .single-location-box.four{
    right: 50px;
    bottom: 60px;
}



.map-content-box .inner .overlay .marker-box{
    display: inline-block;
}
.map-content-box .inner .overlay .marker-box span:before{
    color: #ffffff;
    font-size: 50px;
    line-height: 50px;
    cursor: pointer;
}

.map-content-box .inner .overlay .location-info {
    position: absolute;
    left: -10px;
    bottom: 100px;
    width: 270px;
    opacity: 0;
    visibility: hidden;
    padding: 25px 30px 22px;
    padding-right: 20px;
    margin-left: 0;
    border-radius: 0px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    z-index: 9999999999;
}
.map-content-box .inner .overlay .location-info:before {
    position: absolute;
    left: 30px;
    bottom: -30px;
    font-family: "Flaticon";
    content: "\f103";
    color: #ffffff;
    font-size: 40px;
    line-height: 40px;
    transform: perspective(1200px) rotateY(180deg) translateZ(0px);
}


.map-content-box .inner .overlay .single-location-box:hover .location-info  {
    opacity: 1;
    visibility: visible;
    bottom: 90px;
}
.map-content-box .inner .overlay .single-location-box:hover .marker-box span:before{
    color: #e9212e;
    transition: all 500ms ease;
}
.map-content-box .inner .overlay .location-info h3{
    color: #27282c;
    font-weight: 700;
    margin: 0 0 13px;
}
.map-content-box .inner .overlay .location-info p{
    margin: 0;    
}*/